# Automação Web e Busca de Informações com Python

In [1]:
# Passo a Passo
# Passo 1: Abrir o navegador
# Passo 2: Importar a base de dados
# Passo 3: Percorrer os produtos da base de dados
# Passo 4: Pesquisar o preço do produto
# Passo 5: Atualizar o preço na base de dados
# Passo 6: Decidir quais produtos comprar
# Passo 7: Enviar tabela para o excel

In [2]:
# Passo 1: Abrir o navegador
# Utilizaremos o selenium para a automação web, webdriver seleciona o navegador
from selenium import webdriver

navegador = webdriver.Chrome()
navegador.get('https://www.google.com.br/')

In [3]:
# Passo 2: Importar a base de dados
# Utilizando o panda para a manipulação da base de dados
import pandas as pd

# Coleta da nossa base de dados e demonstração da base de dados
tabela = pd.read_excel('commodities.xlsx')
display(tabela)

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32          NaN      NaN
1      Soja       163.59          NaN      NaN
2       Boi       282.20          NaN      NaN
3  Petróleo       424.37          NaN      NaN
4   Algodão       497.76          NaN      NaN
5    Açúcar       136.23          NaN      NaN
6      Café      1092.87          NaN      NaN
7      Ouro       321.77          NaN      NaN
8   Tilápia         9.05          NaN      NaN

In [4]:
# Passo 3: Percorrer os produtos da base de dados
# Passo 4: Pesquisar o preço do produto

for linha in tabela.index:
    produto = tabela.loc[linha, 'Produto']
    
    # Formatando o nome das commodities para funcionar o link
    produto = produto.replace("ó", "o").replace("ã", "a").replace("á", "a").replace(
    "ç", "c").replace("ú", "u").replace("é", "e")
    
    
    link = f"https://www.melhorcambio.com/{produto}-hoje"
    
    # Print para visualizar a iteração do código
    print(link)
    print(produto)
    navegador.get(link)
    
    # Utilizando as ferramentas do selenium para coletar o valor das commodities
    preco = navegador.find_element('xpath', '//*[@id="comercial"]').get_attribute('value')
    preco = preco.replace('.', '').replace(',', '.')
    print(preco)
    tabela.loc[linha, "Preço Atual"] = float(preco)

print()
print('Fim')
# Passo 5: Atualizar o preço na base de dados
# Tabela com o preço atual preenchido
display(tabela)

https://www.melhorcambio.com/Milho-hoje
Milho
53.73
https://www.melhorcambio.com/Soja-hoje
Soja
131.41
https://www.melhorcambio.com/Boi-hoje
Boi
251.10
https://www.melhorcambio.com/Petroleo-hoje
Petroleo
366.15
https://www.melhorcambio.com/Algodao-hoje
Algodao
406.79
https://www.melhorcambio.com/Acucar-hoje
Acucar
146.76
https://www.melhorcambio.com/Cafe-hoje
Cafe
1005.37
https://www.melhorcambio.com/Ouro-hoje
Ouro
309.96
https://www.melhorcambio.com/Tilapia-hoje
Tilapia
9.52

Fim

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32        53.73      NaN
1      Soja       163.59       131.41      NaN
2       Boi       282.20       251.10      NaN
3  Petróleo       424.37       366.15      NaN
4   Algodão       497.76       406.79      NaN
5    Açúcar       136.23       146.76      NaN
6      Café      1092.87      1005.37      NaN
7      Ouro       321.77       309.96      NaN
8   Tilápia         9.05         9.52      NaN

In [5]:
# Passo 6: Decidir quais produtos comprar
# Preencher a coluna de comprar
# Coluna 'Comprar' recebe 'True' se o preço atual da commoditie for menor que o preço ideal de compra
tabela["Comprar"] = tabela["Preço Atual"] < tabela["Preço Ideal"]
display(tabela)

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32        53.73     True
1      Soja       163.59       131.41     True
2       Boi       282.20       251.10     True
3  Petróleo       424.37       366.15     True
4   Algodão       497.76       406.79     True
5    Açúcar       136.23       146.76    False
6      Café      1092.87      1005.37     True
7      Ouro       321.77       309.96     True
8   Tilápia         9.05         9.52    False

In [6]:
# Passo 7: Enviar tabela para o excel
# Exportar a nova base para o excel, sem os incluir o índice das linhas na saída
tabela.to_excel("commodities_atualizado.xlsx", index=False)

In [7]:
# Fechando o navegador aberto para a automação
navegador.quit()